html {
    height: 100%;
    width: 100%;
    background-color : #cdedfd
}

.pure-form {
    margin: 1.5em 0;
    text-align: center;
}

.right-corner {
    border: 1px solid #185a82;
    border-bottom-left-radius: 10px;
    color: #185a82;
    height: 4em;
    line-height: 4em;
    position: fixed;
    right: -1px;
    text-align: center;
    top: -1px;
    width: 4em;
}

.right-corner:hover {
    cursor: pointer;
}

.search {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100%;
}
