html {
    height: 100%;
    width: 100%;
    background-color : #cdedfd
}

.button-xlarge {
    font-size: 300%;
}

.button-secondary, .button-success, .button-error {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-secondary {
    background: rgb(66, 184, 221);
}

.button-success {
    background: rgb(28, 184, 65) !important;
}

.button-error {
    background: rgb(202, 60, 60) !important;
}

.music-info {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100%;
}

.right-corner {
    border: 1px solid #185a82;
    border-bottom-left-radius: 10px;
    color: #185a82;
    height: 4em;
    line-height: 4em;
    position: fixed;
    right: -1px;
    text-align: center;
    top: -1px;
    width: 4em;
}

.right-corner:hover {
    cursor: pointer;
}
