html {
    height: 100%;
    width: 100%;
    background-color : #cdedfd
}

.control-buttons {
    text-align: center;
}

.button-xlarge {
    font-size: 300%;
}

.button-secondary, .button-success, .button-error {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-secondary {
    background: rgb(66, 184, 221);
}

.button-success {
    background: rgb(28, 184, 65) !important;
}

.button-error {
    background: rgb(202, 60, 60) !important;
}

.music-info {
    font-weight: 300;
    text-align: center;
    top: -100%;
    width: 100%
}
