<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pilody</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
    <body data-url="{{ base_url }}">
        <div class="pure-g grid-buttons">
            <div class="pure-u-1-3 grid-button">
                <button class="pure-button button-xlarge button-secondary" onclick="previous();"><i class="fas fa-angle-double-left"></i></button>
            </div>
            <div class="pure-u-1-3 grid-button">
                <button class="pure-button button-xlarge button-secondary" onclick="play();"><i class="fas fa-play"></i></button>
            </div>
            <div class="pure-u-1-3 grid-button">
                <button class="pure-button button-xlarge button-secondary" onclick="next();"><i class="fas fa-angle-double-right"></i></button>
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>